header{
    width: 100%;
    height: 650px;
    background-image: url(/lesson-5/img/bg.jpg);
    background-size: cover;
}
header .container .col-2 a>img{
    cursor: pointer;
    margin-top: 30px;
}
header .container .col-8>h1{
    font-family: "Bebas Neue", "Arial, Helvetica, sans-serif";
    font-size: 47px;
    text-align: center;
    letter-spacing: 5.70937px;
    color: #FFFFFF;
    margin-top: 280px;
}
header .container .col-6>h2{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}
header .container .col-2>h2{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 160px;
}


.menu{
    width: 100%;
    height: 70px;
    position: relative;
}
.menu .container .col-2 a>img{
    margin-top: 25px;
}
.menu .container .col-6 ul.navigation{
    list-style-type: none;
    position: absolute;
    margin-top: -25px;
}
.menu .container .col-6 ul.navigation li{
    display: inline-block;
}
.menu .container .col-6 ul.navigation li>a{
    text-decoration: none;
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.09px;
    color: rgba(72, 85, 91, 1);
    padding: 0 40px 0 0;
}
.menu .container .col-6 ul.navigation li>a:hover{
    color: #00A4E5;
}


.story{
    width: 100%;
}
hr{
    height: 3px;
    width: 60px;
}
hr.blue-bg{
    background-color: rgba(0, 164, 229, 1);
    border: none;
    margin: 20px auto 0 auto;
}
.story .container>h2{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #48555B;
}
.story .container .block-text>p{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.3px;
    color: #48555B;
    margin-top: 30px;
}
.story .container .block-text p>span{
    color: rgba(0, 164, 229, 1);
}
.story .container .block-text>h2{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: #48555B;
    margin-top: 60px;
}
.story .container .block-pictures{
    margin-top: 55px;
    position: relative;
    margin-right: 0;
}

.story .container .block-pictures>p{
    position: absolute;
    top:0;
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 10px 0 0 10px;
}
.capabilities{
    width: 100%;
    height: 100px;
    margin-top: 100px;
}
.capabilities .container .col-4>h3{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
    color: #48555B;
}
.capabilities .container .col-4>hr.blue-bg{
    margin: 30px 0 0 0;
}
.capabilities .container .col-6>p{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.5x;
    color: #48555B;
}
.capabilities .container .col-2>a{
    text-decoration: none;
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    display: block;
    padding: 10px 0 10px 0;
    width: 150px;
    margin: 0;
    background-color:rgba(0, 164, 229, 1);
    cursor: pointer;
}

.infocards{
    width:100%;
    margin-top: 60px;
}
.infocards .container .col-4 .border>h4.prescription{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 0.5px;
    color: #48555B;
    margin-top: 35px;
}
.infocards .container .col-4 .border>p.description{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-style: normal;
    font-size: 13px;
    color: #48555B;
    letter-spacing: 0.2px;
}
.infocards .container .col-4>.border{
    padding: 25px;
}

.bg-town{
    width: 100%;
    height: 430px;
    background-image: url(/lesson-5/img/bg2.jpg);
    background-size: cover;
    margin-top: 50px;
}
.bg-town .container>h3{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    color: #48555B;
    padding-top: 90px;
    letter-spacing: 0.2px;
}
.bg-town .container a{
    text-decoration: none;
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    display: block;
    padding: 10px 0 10px 0;
    width: 150px;
    margin: 0;
    background-color:rgba(0, 164, 229, 1);
    cursor: pointer;
    margin: 20px auto;
}

.newsletter{
    width:100%;
    height: 70px;
    background-color: rgba(23, 24, 25, 1);
}
.newsletter .container .col-4>h4{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    margin-top: 20px;
}
.newsletter .container .col-7 form input{
    background-color: rgba(255, 255, 255, 1);
    padding: 7px 50px 7px 10px;
    margin-top: 10px;
    position: relative;
}
.newsletter .container .col-7 form>button{
    display: inline-block;
    position: absolute;
    margin-top: -41px;
    margin-left: 230px;
    height: 42px;
    background-color: rgba(0, 164, 229, 1);
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    padding: 0 40px 0 40px;
}
.contacts{
    width: 100%;
    height: 300px;
    background-color: rgba(20, 26, 32, 1);
}
.contacts .container .row h5, p{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    margin-top: 50px;
    line-height: 19px;
}
.contacts .container .col-3>a{
    margin-top: 30px;
    display: block;
}
.contacts .container .col-3>p{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 0.85px;
    color: #FFFFFF;
    margin-top: 30px;
}
.contacts .container ul.nav-sec{
    list-style-type: none;
}
.contacts .container ul.nav-sec>li{
    text-decoration: none;
}
.contacts .container ul.nav-sec li>a{
    display: inline-block;
    margin-left: -32px;
    text-decoration: none;
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    padding-top: 10px;   
}
.contacts .container .col-2 ul.nav-sec{
    margin-top: 75px;
    margin-left: 70px;
}
.contacts .container .col-2 a>img{
    display: inline-block;
    padding-right: 30px;
    margin-top: 80px;
    filter: grayscale(100%);
}

footer{
    width: 100%;
    height: 60px;
    background-color: rgba(23, 24, 25, 1);
}
footer .container>p{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
}