.container{
    max-width: 1100px;
    display: grid;
    margin: 0 auto;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.row .col-1{width: 8.33333333%;}
.row .col-2{width: 16.66666667%;}
.row .col-3{width: 25%;}
.row .col-4{width: 33.33333333%;}
.row .col-5{width: 41.66666667%;}
.row .col-6{width: 50%;}
.row .col-7{width: 58.33333333%;}
.row .col-8{width: 66.66666667%;}
.row .col-9{width: 75%;}
.row .col-10{width: 83.33333333%;}
.row .col-11{width: 91.66666667%;}
.row .col-12{width: 100%;}

header{
    width: 100%;
    height: 650px;
    background: url(../img/bg.jpg);
    background-size: cover;
}
header a>img{
    cursor: pointer;
    margin: 30px auto 0 auto;
    display: block;
}
header h1{
    font-family: "Bebas Neue", "Arial, Helvetica, sans-serif";
    font-size: 47px;
    text-align: center;
    letter-spacing: 5.70937px;
    color: #FFFFFF;
    margin-top: 280px;
}
header h2.subtitle{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}
header h2.scroll-down{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 100px;
}

.menu{
    width: 100%;
    height: 70px;
    position: relative;
}
.menu a.logo-bl>img{
    margin-top: 25px;
}
.menu ul.navigation{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    padding: 0;
}

.menu ul.navigation a{
    text-decoration: none;
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    color: rgba(72, 85, 91, 1);
    padding: 0 30px 0 0;
}
.menu ul.navigation a:hover{
    color: #00A4E5;
}

.story{
    width: 100%;
}
hr{
    height: 3px;
    width: 60px;
}
hr.blue-bg{
    background-color: rgba(0, 164, 229, 1);
    border: none;
    margin: 20px auto 0 auto;
}
.story h2.title-story{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #48555B;
}
.story .block-text p{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.3px;
    color: #48555B;
    margin-top: 30px;
}
.story .block-text p>span{
    color: rgba(0, 164, 229, 1);
}
.story .block-text h2{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: #48555B;
    margin-top: 60px;
}
.story .block-pictures{
    margin-top: 55px;
    position: relative;
    padding: 20px;
    height: 250px;
    width: 26%;

}
.story .block-pictures img {
    height: 100%;
    width: 100%;
}

.story .block-pictures p.caption{
    position: absolute;
    top:0;
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: 800;
    left: 15px;
    font-size: 1.5em;
    line-height: 29px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 0 10px;
}

.capabilities{
    width: 100%;
    height: 100px;
    margin-top: 100px;
}
.capabilities h3.title-cap{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
    color: #48555B;
}
.capabilities hr.blue-bg{
    margin: 30px 0 0 0;
}
.capabilities p.quote{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.5x;
    color: #48555B;
    margin-top: 20px;
}
.capabilities a.button{
    text-decoration: none;
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    display: block;
    padding: 10px 0 10px 0;
    width: 150px;
    margin: 20px 0 0 0;
    background-color:rgba(0, 164, 229, 1);
    cursor: pointer;
}

.infocards{
    width:100%;
    margin-top: 60px;
}
.infocards h4.prescription{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 0.5px;
    color: #48555B;
    margin-top: 35px;
}
.infocards p.description{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-style: normal;
    font-size: 13px;
    color: #48555B;
    letter-spacing: 0.2px;
}
.infocards .border{
    padding: 20px;
    margin: 5px;
    border: 1px solid grey;
}

.bg-town{
    width: 100%;
    height: 430px;
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    margin-top: 50px;
}
.bg-town h3{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    color: #48555B;
    padding-top: 90px;
    letter-spacing: 0.2px;
}
.bg-town a.button-touch{
    text-decoration: none;
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    display: block;
    padding: 10px 0 10px 0;
    width: 150px;
    background-color:rgba(0, 164, 229, 1);
    cursor: pointer;
    margin: 20px auto;
}

.newsletter{
    width:100%;
    height: 70px;
    background-color: rgba(23, 24, 25, 1);
}
.newsletter h4.title-letter{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    margin-top: 20px;
}

.newsletter form {
    display: flex;
    justify-content: center;
    height: 30px;
    align-content: center;
    flex-direction: row;
}
.newsletter form input{
    background-color: rgba(255, 255, 255, 1);
    width: 150px;
    display: inline-block;
    padding: 7px 50px 7px 10px;
    border: none;
}
.newsletter form button{
    display: inline-block;
    background-color: rgba(0, 164, 229, 1);
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 40px;
    border: none;
}

.contacts{
    width: 100%;
    height: 300px;
    background-color: rgba(20, 26, 32, 1);
}
.contacts h5{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    margin-top: 50px;
    line-height: 19px;
}
.contacts p{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    margin-top: 50px;
    line-height: 19px;
}
.contacts a.logo-wh{
    margin-top: 30px;
    display: block;
}
.contacts p.quote-lorem{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 0.85px;
    color: #FFFFFF;
    margin-top: 30px;
}
.contacts ul.nav-sec{
    list-style-type: none;
}
.contacts ul.nav-sec li{
    text-decoration: none;
}
.contacts ul.nav-sec a{
    display: inline-block;
    margin-left: -32px;
    text-decoration: none;
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    padding-top: 10px;
}
.contacts .about-company .useful{
    margin-top: 75px;
    margin-left: 70px;
}
.contacts .container .col-2 a>img{
    display: inline-block;
    padding-right: 30px;
    margin-top: 80px;
    filter: grayscale(100%);
}

footer{
    width: 100%;
    height: 60px;
    background-color: rgba(23, 24, 25, 1);
}
footer p{
    font-family: "Open Sans", "Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
}

